/* ------------------------------------------------------ */
@font-face {
  font-family: vazir;
  src: url(iranyekanweblightfanum.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: vazir;
  text-decoration: none;
}

/* ------------------------------------------------------ */



::-webkit-scrollbar {
  /*. کل اسکرول */
  width: 0px;
  height: 0px;
  /* عرض نوار اسکرول */
}

::-webkit-scrollbar-track {
  /*. پس زمینه نوار اسکرول */
  background: #f1f1f1;
  /* رنگ پس‌زمینه نوار اسکرول */
}

::-webkit-scrollbar-thumb {
  /*.خود نوار اسکرول */
  background: #888;
  /* رنگ قسمت قابل حرکت نوار اسکرول */
}

::-webkit-scrollbar-thumb:hover {
  background: #C1C1C1;
  /* هاور قسمت حرکت نوار اسکرول */
}

.Home {
  background-color: #EDF1D6;
}

.Fixd {
  position: fixed;
  width: 100%;
  height: 100%;
}



.CafeLocation_OpenClosed {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2vh;

}










/* ------------------------------------------------------------------------          Head  */












.Header {
  width: 100%;
  height: 500px;
  /* background-color: black; */
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 5vh;
}

.Header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.Header-backgroundCover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #9dc08b7a;
  box-shadow: 0 1vh 2vh 0.01vh #9DC08B;
}

.Header-ImagesHead {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 25vh;
  background-size: cover;
  box-shadow: 0 0 10vh 1vh #9DC08B;
}

.Header-H1P1H1Head {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 5rem;
  color: #F4F9F4;
  text-shadow: 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B;
}

.Header-H1Head {
  position: absolute;
  top: 90px;
  right: 20rem;
  font-weight: 700;
  font-size: 5rem;
  color: #F4F9F4;
  text-shadow: 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B;
}

.Header-P1Head {
  position: absolute;
  bottom: 7rem;
  left: 7rem;
  font-size: 4rem;
  color: #F4F9F4;
  text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
}



@media (max-width:900px) {

  .Header {
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5vh;
  }

  .Header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .Header-backgroundCover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #40513b7f;
    box-shadow: 0 1vh 2vh 0.01vh #9DC08B;
  }

  .Header-ImagesHead {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100vh;
    background-size: cover;
    box-shadow: 0 0 10vh 1vh #9DC08B;
  }

  .Header-H1P1H1Head {
    position: absolute;
    top: 50px;
    right: 20px;

    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B;
  }

  .Header-H1Head {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;

    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B;
  }

  .Header-P1Head {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 1rem;
    left: 0px;
    color: #ffffff;
    text-shadow: 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B, 0 0 0.2em #9DC08B;
  }


}

/* -------------------------------------------------------------------------    Header-ImagesHead  */
.clickAMANGE {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100vh;
  background-size: cover;
  top: 2vh;
  left: 2vh;
  box-shadow: 0 0 10vh 1vh #9DC08B;
  z-index: 97;
}

.clickAMANGE:hover {
  animation-name: clickAMANGE;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes clickAMANGE {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.Header-ImagesHead {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  background-size: cover;
  box-shadow: 0 0 10vh 1vh #9DC08B;
  z-index: 99;
}

.Header-ImagesHead:hover {
  animation-name: Header-ImagesHead;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes Header-ImagesHead {
  0% {
    display: block;
  }

  49% {
    display: block;
  }

  50% {
    display: none;
  }

  100% {
    display: none;
  }
}

.rotiteBackA {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  background-size: cover;
  box-shadow: 0 0 10vh 1vh #9DC08B;
  background-color: #9DC08B;
  color: black;
  z-index: 98;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: rotateY(180deg);
  font-weight: 900;
}

@media (min-width:900px) {
  .clickAMANGE {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100vh;
    background-size: cover;
    top: 2vh;
    left: 2vh;
    box-shadow: 0 0 10vh 1vh #9DC08B;
    z-index: 97;
  }

  .clickAMANGE:hover {
    animation-name: clickAMANGE;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: both;
  }

  @keyframes clickAMANGE {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(180deg);
    }
  }
  .clickAMANGE:hover .Header-ImagesHead{
    animation-name: Header-ImagesHead;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: both;
  }

  @keyframes Header-ImagesHead {
    0% {
      display: block;
    }

    49% {
      display: block;
    }

    50% {
      display: none;
    }

    100% {
      display: none;
    }
  }
  .Header-ImagesHead {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    background-size: cover;
    box-shadow: 0 0 10vh 1vh #9DC08B;
    z-index: 99;
  }





  .rotiteBackA {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    background-size: cover;
    box-shadow: 0 0 10vh 1vh #9DC08B;
    background-color: #9DC08B;
    color: black;
    z-index: 98;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: rotateY(180deg);
    font-weight: 900;
  }
}

/* ------------------------------------------------------------------------          Neon  */

.Neon-box {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10px;
}



/* ------------------------------------------------------------------------          The-location-of-the-boxes  */
.The-location-of-the-boxes {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

}



.MinBoxe {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1em;
  width: auto;
  height: auto;
  background-color: #40513B;
  box-shadow: 0 0 15px 5px #9DC08B, inset 0 0 55px 5px #9DC08B;
  border: 0.2em solid #609966;
  border-radius: 5vh 5vh 5vh 5vh;
  color: #FBFFE4;
  margin: 2%;
}

.ImagesBoxSize {
  position: absolute;
  width: 130px;
  height: 130px;
  background-size: cover;
  border-radius: 5px;
  padding: -2vh;
  background-color: #ffffff00;
  top: -40px;
  right: -40px;
  /* border-bottom-left-radius: 25px; */
  /* border: 0.2vh solid #20605800; */
  /* box-shadow: 0 0 15px 5px #255F38; */
}

.MinBoxe H2 {
  position: relative;
  font-size: 3rem;
  margin: 1em;
}

.MinBoxe H3 {
  position: relative;
  font-size: 2rem;
  margin: 1em;
}

.MinBoxe P {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
}


@media (max-width:900px) {
  .MinBoxe {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #40513B;
    box-shadow: 0 0 15px 5px #9DC08B, inset 0 0 55px 5px #9DC08B;
    border: 0.2em solid #609966;
    border-radius: 5vh 5vh 5vh 5vh;
    color: #FBFFE4;
    margin: 5%;
  }

  .ImagesBoxSize {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
    padding: -2vh;
    background-color: #ffffff00;
    top: -20px;
    right: -20px;
    /* border-bottom-left-radius: 25px; */
    /* border: 0.2vh solid #20605800; */
    /* box-shadow: 0 0 15px 5px #255F38; */
  }



  .MinBoxe H2 {
    position: relative;
    font-size: 2rem;
    margin: 1em;
  }

  .MinBoxe H3 {
    position: relative;
    font-size: 1.5rem;
    margin: 1em;
  }

  .MinBoxe P {
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-weight: 800;
  }

}




/* ------------------------------------------------------------------------          TextBoxSIndex  */



.TextBoxSIndex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  /* margin: 5%;
  padding: 5%; */
  /* background-color: #f1f1f1; */
  color: rgb(0, 0, 0);
}

.TitelTextBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 4rem;
  margin: 2rem;
}

.TextBoxTiter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 2rem;
  margin: 4rem;
}

@media (max-width:900px) {
  .TextBoxSIndex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /* margin: 5%;
    padding: 5%; */
    /* background-color: #f1f1f1; */
    color: #40513B;
  }

  .TitelTextBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 3rem;
    margin: 1rem;
  }

  .TextBoxTiter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1rem;
    margin: 2rem;
    font-weight: 800;
  }
}


/* --------------------------------------------------------------------------------- */
.boxbtntwo {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 150px;
}

.FullScreen {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  margin: 3vh;
  background-color: #40513B;
  border: 0.2em solid #609966;
  box-shadow: 0 0 15px 5px #9DC08B, inset 0 0 5px 5px #9DC08B;
}

.FullScreenImage {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-image: url(./FullScreenWW.png);
}

.AddedScreen {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  margin: 3vh;
  background-color: #40513B;
  border: 0.2em solid #609966;
  box-shadow: 0 0 15px 5px #9DC08B, inset 0 0 5px 5px #9DC08B;
}

.AddedScreenImage {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 15px;
  background-size: cover;
  background-position: center;
  background-image: url(./AddHomeWW.png);
}