* {
  margin: 0;
  padding: 0;

}

::-webkit-scrollbar {
  /*. کل اسکرول */
  width: 0px;
  height: 0px;
  /* عرض نوار اسکرول */
}

::-webkit-scrollbar-track {
  /*. پس زمینه نوار اسکرول */
  background: #f1f1f1;
  /* رنگ پس‌زمینه نوار اسکرول */
}

::-webkit-scrollbar-thumb {
  /*.خود نوار اسکرول */
  background: #888;
  /* رنگ قسمت قابل حرکت نوار اسکرول */
}

::-webkit-scrollbar-thumb:hover {
  background: #C1C1C1;
  /* هاور قسمت حرکت نوار اسکرول */
}

.Home {
  background-color: #1F7D53;
}

.Fixd {
  position: fixed;
  width: 100%;
  height: 100%;
}



.CafeLocation_OpenClosed {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2vh;

}










/* ------------------------------------------------------------------------          Head  */












.Header {
  width: 100%;
  height: 500px;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 5vh;
}

.Header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.Header-backgroundCover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #27391c80;
  box-shadow: 0 1vh 2vh 0.01vh #255F38;
}

.Header-ImagesHead {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 25vh;
  background-size: cover;
  top: 2vh;
  left: 2vh;
  box-shadow: 0 0 10vh 1vh #1F7D53;
}

.Header-H1P1H1Head {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: #F4F9F4;
  text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
}

.Header-H1Head {
  position: absolute;
  top: 90px;
  right: 20rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: #F4F9F4;
  text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
}

.Header-P1Head {
  position: absolute;
  bottom: 7rem;
  left: 7rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  color: #F4F9F4;
  text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
}



@media (max-width:900px) {

  .Header {
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5vh;
  }
  
  .Header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .Header-backgroundCover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #27391c80;
    box-shadow: 0 1vh 2vh 0.01vh #255F38;
  }
  
  .Header-ImagesHead {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100vh;
    background-size: cover;
    top: 2vh;
    left: 2vh;
    box-shadow: 0 0 10vh 1vh #1F7D53;
  }
  
  .Header-H1P1H1Head {
    position: absolute;
    top: 50px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
  }
  
  .Header-H1Head {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
  }
  
  .Header-P1Head {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    left: 0px;
    color: #F4F9F4;
    text-shadow: 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89, 0 0 0.2em #5C8D89;
  }
  

}

/* ------------------------------------------------------------------------          Neon  */

.Neon-box{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10px;
}
.Neon{

}
.Neon{

}



/* ------------------------------------------------------------------------          The-location-of-the-boxes  */
.The-location-of-the-boxes {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  
}



.MinBoxe {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 35%;
  height: 600px;
  background-color: #27391C;
  
  box-shadow: 0 0 15px 5px #255F38;
  border-radius: 5vh 0vh 5vh 5vh;
  margin: 5vh;
  color: #FBFFE4;
}

.ImagesBoxSize {
  position: absolute;
  width: 130px;
  height: 130px;
  background-size: cover;
  border-radius: 5px;
  padding: -2vh;
  background-color: #ffffff00;
  top: -40px;
  right: -40px;
  /* border-bottom-left-radius: 25px; */
  /* border: 0.2vh solid #20605800; */
  /* box-shadow: 0 0 15px 5px #255F38; */
}

.MinBoxe H2 {
  position: absolute;
  font-size: 5rem;
  top: 120px;
  right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.MinBoxe H3 {
  position: absolute;
  font-size: 5rem;
  top: 100px;
  right: 120px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.MinBoxe P {
  position: absolute;
  font-size: 3rem;
  font-weight: 800;
  bottom: 30px;
  margin: 1vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (max-width:900px) {
  .ImagesBoxSize {
    position: absolute;
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 5px;
    padding: -2vh;
    background-color: #ffffff00;
    top: -40px;
    right: -40px;
    /* border-bottom-left-radius: 25px; */
    /* border: 0.2vh solid #20605800; */
    /* box-shadow: 0 0 15px 5px #255F38; */
  }
  .MinBoxe {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 300px;
    background-color: #377510;
    border-radius: 5px;
    margin: 3vh;
    border-radius: 1vh 0vh 1vh 1vh;
  }
  
  .MinBoxe H2 {
    /* text-shadow: 0 0 0.5em #255F38, 0 0 00.5em #255F38, 0 0 0.5em #255F38; */
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .MinBoxe H3 {
    /* text-shadow: 0 0 0.5em #255F38, 0 0 00.5em #255F38, 0 0 0.5em #255F38; */
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 3rem;
    top: 70px;
    right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .MinBoxe P {
    /* text-shadow: 0 0 0.5em #255F38, 0 0 00.5em #255F38, 0 0 0.5em #255F38; */
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 2rem;
    font-weight: 800;
    bottom: 20px;
    margin: 1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}




/* ------------------------------------------------------------------------          TextBoxSIndex  */



.TextBoxSIndex{
  position: relative;
  display:flex ;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  /* margin: 5%;
  padding: 5%; */
  /* background-color: #f1f1f1; */
  color: white;
}
.TitelTextBox{
  position: relative;
  display:flex ;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 4rem;
  margin: 2rem;
}
.TextBoxTiter{
  position: relative;
  display:flex ;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 2rem;
  margin: 4rem;
}

@media (max-width:900px) {
  .TextBoxSIndex{
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /* margin: 5%;
    padding: 5%; */
    /* background-color: #f1f1f1; */
    color: white;
  }
  .TitelTextBox{
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 3rem;
    margin: 2rem;
  }
  .TextBoxTiter{
    position: relative;
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1rem;
    margin: 4rem;
  }
}
