* {
    margin: 0;
    padding: 0;
}

.Container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #727D73;
}

@media (min-width:900px) {
    .Container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
}

.box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    max-width: 500px;
    height: 600px;
    /* border: 0.2em solid black; */
    margin: 2em;
    border-radius: 0;
    background-color: #AAB99A;
    /* box-shadow: 0 0 10px 10px #AAB99A; */
}

.photoBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 40%;
    height: 200px;
    left: -20px;
    top: -20px;
    border-radius: 25px;
    border: 0.2em solid #727D73;
}

.photo {
    position: relative;
    background-image: url(../../../Images/beautiful-shot-river-rocky-field.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    box-shadow: 0 0 10px 10px #727D73;
}

.Comment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: baseline;
    height: 600px;
    width: 50%;
    font-size: 2em;
    text-shadow: 0 0 .2em #727D73, 0 0 .2em #727D73, 0 0 .2em #727D73;
    font-weight: 900;
    overflow: scroll;



}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

.allBTN {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: auto;
    left: -20px;
    /* border: 0.2em solid black; */
    font-size: 2em;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /* box-shadow:  0 0 10px 10px ; */
    background-color: #727D73;
    padding: 0.4em;
}

/* .Username{

}
.ProductName{

}
.addition{
    
} */
.remove{
    border-bottom-right-radius: 0px;
}