*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* .Container{} */

body{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: #1D4009;
    width: 100%;
    height: 100%;
}

.titel{
font-size: 1.5em;
color: white;
margin: 1em;


}
.form{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}.form input{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.2em;
    border-radius: 25px;
    border: 0.2em solid rgb(189, 189, 189);
    box-shadow: 0 0 20px 10px rgba(41, 116, 72, 0.549);
    height: auto;
}
/* .NameMusic{ */
/*  */
/* } */
/* .SingerName{ */
/*  */
/* } */
/* .LinkMusic{ */
/*  */
/* } */
/* .SubmitMusic{ */
/*  */
/* } */
.BoxA{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2em;
}.BoxA div {
    margin: 0.5em;
    font-size: 1.2em;
    color: white;
    font-weight: 900;
}

.ASK{
    position: absolute;
    display: none;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%; max-width: 700px;
    height: 90%;
    max-height: 800px;
    background-color: aliceblue;
    border-radius: 25px;
}
.Text{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    margin: 2em;
}
.back{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5px;
    left: 5px;
    background-position: center;
    background-size: cover;
    background-image: url(backBB.png);
    transition: all 0.5s ease-in-out;
}
.back:hover{
    width: 110px;
    height: 110px;
    top: 0px;
    left: 0px;
}

@media (min-width:900) {
    body{
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
        background-color: #1D4009;
        width: 100%;
        height: 100%;
    }
    
    .titel{
    font-size: 2.5em;
    color: white;
    margin: 1em;
    
    
    }
    .form{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
    }.form input{
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center;
        flex-wrap: wrap;
        padding: 1em;
        margin: 1em;
        font-size: 1.5em;
        border-radius: 25px;
        border: 0.2em solid rgb(189, 189, 189);
        box-shadow: 0 0 50px 0px rgba(255, 255, 255, 0.549);
        height: auto;
    }
    /* .NameMusic{ */
    /*  */
    /* } */
    /* .SingerName{ */
    /*  */
    /* } */
    /* .LinkMusic{ */
    /*  */
    /* } */
    /* .SubmitMusic{ */
    /*  */
    /* } */
    .BoxA{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2em;
    }.BoxA div {
        margin: 0.5em;
        font-size: 2em;
        color: white;
        font-weight: 900;
    }
    
    .ASK{
        position: absolute;
        display: none;
        align-items: center;
        text-align: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%; max-width: 700px;
        height: 90%;
        max-height: 800px;
        background-color: aliceblue;
        border-radius: 25px;
    }
    .Text{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 2em;
        margin: 2em;
    }
    .back{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 5px;
        left: 5px;
        background-position: center;
        background-size: cover;
        background-image: url(backBB.png);
        transition: all 0.5s ease-in-out;
    }
    .back:hover{
        width: 110px;
        height: 110px;
        top: 0px;
        left: 0px;
    }
}