* {
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    background-color: rgb(39, 169, 27);
}
.Management {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.Management a {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.8);
    box-shadow: inset 0 0 5px 2px rgb(255, 255, 255) , 0 0 10px 2px rgb(255, 255, 255) ;
    /* border: 0.1em solid rgb(0, 0, 0); */
    margin: 3%;
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Management a p{
    margin: 0.5em;
    font-size: 0.6em;
}

.M1 {
    width: 100%;
    height: auto;
    padding: 1em;

}

.M2 {

    width: 100%;
    height: auto;
    padding: 1em;

}

.M3 {

    width: 100%;
    height: auto;
    padding: 1em;

}

.M4 {

    width: 100%;
    height: auto;
    padding: 1em;

}

.M5 {

    width: 100%;
    height: auto;
    padding: 1em;

}

.M6 {

    width: 100%;
    height: auto;
    padding: 1em;

}

.M7 {

    width: 100%;
    height: auto;
    padding: 1em;

}

@media (min-width:900) {
    * {
        margin: 0;
        padding: 0;
    }
    
    .Management {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-color: rgb(255, 255, 255);
    }
    
    .Management a {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: inset 0 0 15px 5px rgb(62, 62, 62) , 0 0 15px 5px rgb(80, 80, 80) ;
        border: 0.2em solid rgb(0, 0, 0);
        margin: 3%;
        border-radius: 25px;
        font-size: 3em;
        font-weight: 800;
        color: black;
        text-decoration: none;
    }
    
    .Management a p{
        margin: 0.5em;
        font-size: 0.6em;
    }
    
    .M1 {
        width: 100%;
        height: 100px;
    
    
    }
    
    .M2 {
    
        width: 100%;
        height: 200px;
    
    
    }
    
    .M3 {
    
        width: 40%;
        height: 400px;
    
    
    }
    
    .M4 {
    
        width: 40%;
        height: 400px;
    
    
    }
    
    .M5 {
    
        width: 100%;
        height: 200px;
    
    
    }
    
    .M6 {
    
        width: 40%;
        height: 200px;
    
    
    }
    
    .M7 {
    
        width: 40%;
        height: 200px;
    
    
    }
}