* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.Container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #5C8D89;
}

.Container :nth-child(odd).box {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75%;
    max-width: 600px;
    height: 150px;
    margin: 2em;
    border-radius: 25px;
}

.Container :nth-child(odd) .backDIV {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #A7D7C5;
    width: 100%;
    height: 100%;
    left: 0%;
    /* box-shadow: 0 0 10px 2px black; */
    border: 0.2em solid #F4F9F4;
    border-radius: 25px;
    z-index: 999;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    animation-name: backDIV;
    animation-duration: 1s;
    animation-delay: 0.9;
    animation-fill-mode: both;
}

@keyframes backDIV {
    0% {
        width: 100%;
        height: 100%;
        left: 0%;
        border-radius: 25px;
        z-index: 999;
    }

    40% {
        width: 10%;
        height: 80%;
        left: 50%;
        border-radius: 25px;
        z-index: 999;
    }

    60% {
        width: 10%;
        height: 240px;
        left: -11%;
        border-radius: 25px;
        z-index: 0;
    }

    100% {
        width: 10%;
        height: 200px;
        left: 20%;
        border-radius: 25px;
        z-index: 0;
    }
}

.Container :nth-child(odd).box:hover .backDIV {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #A7D7C5;
    transition: all 0.5s ease-in-out;
    animation-name: backDIV2;
    animation-duration: 1s;
    animation-delay: 0.2;
    animation-fill-mode: both;
}

@keyframes backDIV2 {
    0% {
        width: 10%;
        height: 240px;
        left: 20%;
        border-radius: 25px;
        z-index: 0;
    }

    40% {
        width: 10%;
        height: 240px;
        left: -11%;
        border-radius: 25px;
        z-index: 0;
    }

    60% {
        width: 10%;
        height: 80%;
        left: 50%;
        border-radius: 25px;
        z-index: 999;
    }

    100% {
        width: 100%;
        height: 100%;
        left: 0%;
        border-radius: 25px;
        z-index: 999;
    }
}

.priceSeries,
.UserNumbers,
.price {
    position: relative;
    display: flex;
    height: 32.5%;
    color: white;
    justify-content: space-between;
    width: 100%;
}

p {
    color: white;
    margin: 0px 20px 0px 20px;
    font-size: 1.5em;
    position: relative;
    display: none;
    align-items: center;
    text-align: center;
    opacity: 0;

}

.Container :nth-child(odd).box .frontDIV {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 0.2em solid #F4F9F4; */
    border-radius: 25px;
    background-color: #A7D7C5;
}

.Titel {
    position: relative;
    font-size: 3em;
    top: -15px;
    left: 30px;
    font-weight: 900;
}

.Name {
    position: relative;
    font-size: 3em;
    top: 15px;
    left: -30px;
    font-weight: 900;
}



.Container :nth-child(odd).box:hover .backDIV div p {
    display: flex;
    animation-name: EvenOddP;
    animation-duration: 1s;
    animation-delay: 0.9;
    animation-fill-mode: both;
}

/* ********************************************************************* even */


.Container :nth-child(even).box {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75%;
    max-width: 600px;
    height: 150px;
    margin: 1.5em;
    border-radius: 25px;
}

.Container :nth-child(even) .backDIV {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #74B49B;
    border: 0.2em solid #F4F9F4;
    width: 100%;
    height: 100%;
    right: 0%;
    border-radius: 25px;
    z-index: 999;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    animation-name: evenbackDIV;
    animation-duration: 1s;
    animation-delay: 0.9;
    animation-fill-mode: both;
}

@keyframes evenbackDIV {
    0% {
        width: 100%;
        height: 100%;
        right: 0%;
        border-radius: 25px;
        z-index: 999;
    }

    40% {
        width: 10%;
        height: 80%;
        right: 50%;
        border-radius: 25px;
        z-index: 999;
    }

    60% {
        width: 10%;
        height: 240px;
        right: -11%;
        border-radius: 25px;
        z-index: 0;
    }

    100% {
        width: 10%;
        height: 200px;
        right: 20%;
        border-radius: 25px;
        z-index: 0;
    }
}

.Container :nth-child(even).box:hover .backDIV {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #74B49B;
    transition: all 0.5s ease-in-out;
    animation-name: evenbackDIV2;
    animation-duration: 1s;
    animation-delay: 0.2;
    animation-fill-mode: both;
}

@keyframes evenbackDIV2 {
    0% {
        width: 10%;
        height: 240px;
        right: 20%;
        border-radius: 25px;
        z-index: 0;
    }

    40% {
        width: 10%;
        height: 240px;
        right: -11%;
        border-radius: 25px;
        z-index: 0;
    }

    60% {
        width: 10%;
        height: 80%;
        right: 50%;
        border-radius: 25px;
        z-index: 999;
    }

    100% {
        width: 100%;
        height: 100%;
        right: 0%;
        border-radius: 25px;
        z-index: 999;
    }
}

.priceSeries,
.UserNumbers,
.price {
    position: relative;
    display: flex;
    height: 32.5%;
    color: white;
    justify-content: space-between;
    width: 100%;
}


.Container :nth-child(even).box .frontDIV {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 0.0em solid #F4F9F4;
    border-radius: 25px;
    background-color: #74B49B;
}

.Container :nth-child(even).box:hover .backDIV div p {
    display: flex;
    animation-name: EvenOddP;
    animation-duration: 1s;
    animation-delay: 0.9;
    animation-fill-mode: both;
}

/* ------------------------------------------------------- */

@keyframes EvenOddP {
    0% {

        opacity: 0;
    }

    99% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}


@media (max-width:900px) {

    .priceSeries,
    .UserNumbers,
    .price {
        position: relative;
        display: flex;
        height: 32.5%;
        color: white;
        justify-content: space-between;
        width: 100%;
        font-size: 1em;
    }

    p {
        color: rgb(0, 0, 0);
        margin: 0px 20px 0px 20px;
        font-size: 1.2em;
        position: relative;
        display: none;
        align-items: center;
        text-align: center;
        opacity: 0;

    }

    .Titel {
        position: relative;
        font-size: 1.5em;
        top: -15px;
        left: 30px;
        font-weight: 900;
    }

    .Name {
        position: relative;
        font-size: 1.5em;
        top: 15px;
        left: -30px;
        font-weight: 900;
    }
}